<div class="container">

	<h3 class="text-center my-5">Cadastro</h3>

    <mat-form-field>
        <input matInput placeholder="Nome" required [(ngModel)]="model.name" name="name">
	</mat-form-field>

	<mat-form-field>
		<input matInput placeholder="E-mail" required [(ngModel)]="model.mail" name="mail">
	</mat-form-field>

	<mat-form-field>
		<input matInput placeholder="Senha" required [type]="'password'" [(ngModel)]="model.password" name="password">
	</mat-form-field>

	<button mat-raised-button color="primary" routerLink="/login" [disabled]="model.name.length == 0 || model.mail.length == 0 || model.password.length == 0" (click)="create()">Cadastrar</button>

</div>