<mat-toolbar>
    <div class="w-100 text-right">
      	<h5>Seja Bem Vindo Usuário</h5>
     	<small>Seu token é: 12345678909999999</small>
	</div>
</mat-toolbar>


<div class="mt-5 mx-5">
	<mat-list>
		<h2>{{ 'Erro no ' + log.origin + ' em ' + log.date + ' ' + log.id}}</h2>

		<!-- <mat-list-item>
			<h4 class="font-weight-bold" mat-line>Título</h4>
			<p mat-line>{{log.log}}</p>
		</mat-list-item> -->
		<mat-list-item>
			<h4 class="font-weight-bold" mat-line>Detalhes</h4>
			<p mat-line>{{log.description}}</p>
		</mat-list-item>
		<mat-list-item>
			<h4 class="font-weight-bold" mat-line>Eventos</h4>
			<p mat-line>{{log.frequency}}</p>
		</mat-list-item>
		<mat-list-item>
			<h4 class="font-weight-bold" mat-line>Coletado por:</h4>
			<p mat-line>Amanda Werner</p>
		</mat-list-item>
		<button mat-raised-button color="primary"  routerLink="/main">Voltar</button>
	</mat-list>
</div>
